include MANIFEST.in
include LICENSE
include VERSION
include *.txt *.rst *.md
exclude RELEASING.rst
include setup.py
include *.toml

recursive-include caterva *.py *.pyx *.pxd *.c *.h *.txt *in *.cmake *.rc
recursive-include tests *.py
recursive-include bench *.py *.txt
recursive-include doc *.rst *.md *.txt *.py *.pdf *.html *.css *.png
recursive-exclude doc/_build *
recursive-include LICENSES *
